@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #F3F4F6 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom_password_input {
  display: flex !important;
  align-items: center !important;
}

.icon_pass {
  right: 16px;
  color: #cdcbc9;
  top: 10px;
}

.login_container {
  box-shadow: 0 0 15px #43643e88;
  width: 500px;
  background-color: #fff;
}

.primary_color {
  color: #56934D;
}

.custom_btn {
  background-color: #70A861 !important;
  border-radius: 100px !important;
  padding: 20px 100px !important;
  line-height: 0px !important;
  background-color: #70A861 !important;
  border-radius: 100px !important;
  padding: 20px 100px !important;
  line-height: 0px !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  transition: 0.5s !important;
  outline: none !important;
  color: #fff !important;
}

.custom_btn:hover {
  box-shadow: none !important;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .login_container {
    width: 95%;
  }
}

table.custom_table td:nth-child(2) {
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
}

table.custom_table tr {
  margin: 2px !important;
}

.custom_column {
  background-color: #F8DBAC !important;
}

input.custom_input {
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.073) inset;
  border: none !important;
  border-radius: 6px;
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.25rem;
  /* 20px */
  padding: 0.7rem;
  /* 11.2px */
}

:where(.css-dev-only-do-not-override-1kuana8).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-1kuana8).ant-input-outlined:focus-within {
  border-color: none !important;
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.042) inset;
  outline: none;
  transition: 0.5s;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-1kuana8).ant-input-outlined:focus-within:hover {
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.11);
  transition: 0.5s;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-btn-default {
  background: none;
  border-color: none !important;
  color: none;
  box-shadow: none;
}

.focus\:outline-none:focus {
  outline: none;
  outline-offset: none;
}

table.custom_table td:nth-child(2) {
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
}

table.custom_table tr {
  margin: 2px !important;
}

.custom_column {
  background-color: #F8DBAC !important;
}

.error_message {
  background-color: rgb(255, 41, 41);
  color: #fff;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 12px;
}
